@media all and (max-width:992px ){
    /*footer{*/
    /*    #bottom{*/
    /*        display: flex;*/
    /*        justify-content: space-evenly;*/
    /*    }*/
    /*}*/
    #main-image {
        display: flex;
        justify-content: center;
        align-items: end;
        height: 250px !important;

        img {
            width: 272px;
            height: 92px;
        }


}}